{% extends "core/seshat-base.html" %}
{% load leaflet_tags %}

<head>
    {% leaflet_js %}
    {% leaflet_css %}
</head>

<body>
    {% block content %}
    <div style="display: flex;">
        <div>
            <fieldset>
                <legend>
                    <h3>Base Map</h3>
                </legend>
                <label><input type="radio" name="baseMap" value="carto" onclick="switchBaseMap()"checked>No labels (CartoDB)</label><br>
                <label><input type="radio" name="baseMap" value="osm" onclick="switchBaseMap()">OpenStreetMap</label><br>
            </fieldset>
            <p></p>
            <fieldset>
                <legend>
                    <h3>Displayed dataset</h3>
                </legend>
            
                <select name="displayedData" id="displayedData" onchange="selectDisplayedData()">
                    <option value=gadm>GADM present day</option>
                    <option value=macro>Macrostate test data</option>
                </select><br>
            </fieldset>
        </div>
        <div id="map" style="height: 75vh; flex: 1;"></div>
    </div>
    <div id="map" style="height: 75vh;"></div>
    {% leaflet_map "map" %}
    <script>

        function createBaseMap() {
            return L.map('map').setView([0, 0], 2);
        }

        var map = createBaseMap();

        var baseLayers = {
            "carto": L.tileLayer('https://{s}.basemaps.cartocdn.com/light_nolabels/{z}/{x}/{y}.png'),
            "osm": L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png')
        };

        var currentLayer = baseLayers.carto.addTo(map);

        function switchBaseMap() {
            var selectedMap = document.querySelector('input[name="baseMap"]:checked').value;
            map.removeLayer(currentLayer);
            currentLayer = baseLayers[selectedMap].addTo(map);
        }

        function selectDisplayedData() {
            var selectedData = document.getElementById("displayedData").value;
            if (selectedData === 'gadm') {
                window.location.href = '{% url "gadm_map" %}';
            } else if (selectedData === 'macro') {
                window.location.href = '{% url "spatial_map" %}'
            } else {
                window.location.href = '{% url "spatial_map" %}?data=' + selectedData;
            }
        }

        {% for shape in shapes %}
            var geometry = {{ shape.aggregated_geometry | safe }};
            var country = '{{ shape.country | escapejs | safe }}';
            // Ensure the geometry is not empty
            if (geometry && geometry.type) {
                if (geometry.type === "Polygon") {
                    var coordinates = geometry.coordinates[0];
                    // Swap latitude and longitude for each coordinate
                    coordinates = coordinates.map(function (coord) {
                        return [coord[1], coord[0]];
                    });
                    var polygon = L.polygon(coordinates).addTo(map);
                    polygon.bindPopup(`<p> ${country} </p>`);
                } else if (geometry.type === "MultiPolygon") {
                    // Loop through each polygon and add it to the map
                    for (var i = 0; i < geometry.coordinates.length; i++) {
                        var coordinates = geometry.coordinates[i][0];
                        // Swap latitude and longitude for each coordinate
                        coordinates = coordinates.map(function (coord) {
                            return [coord[1], coord[0]];
                        });
                        var polygon = L.polygon(coordinates).addTo(map);
                        polygon.bindPopup(`<p> ${country} </p>`);
                    }
                }
            }
            {% endfor %}

    </script>
    {% endblock %}
</body>