{% extends "core/seshat-base.html" %}
{% load leaflet_tags %}

<head>
    {% leaflet_js %}
    {% leaflet_css %}
</head>

<body>
    {% block content %}
    <div style="display: flex;">
        <div>
            <fieldset>
                <legend>
                    <h3>Base Map</h3>
                </legend>
                <label><input type="radio" name="baseMap" value="carto" onclick="switchBaseMap()"checked>CartoDB</label><br>
                <label><input type="radio" name="baseMap" value="osm" onclick="switchBaseMap()">OpenStreetMap</label><br>
            </fieldset>
            <p></p>
            <fieldset>
                <legend>
                    <h3>Displayed dataset</h3>
                </legend>
            
                <select name="displayedData" id="displayedData" onchange="selectDisplayedData()">
                    <option value=gadm>GADM present day</option>
                    <option value=macro>Macrostate test data</option>
                </select><br>
            </fieldset>
        </div>
        <div id="map" style="height: 75vh; flex: 1;"></div>
    </div>
    <div id="map" style="height: 75vh;"></div>
    {% leaflet_map "map" %}
    <script>

        function createBaseMap() {
            return L.map('map').setView([0, 0], 2);
        }

        var map = createBaseMap();

        var baseLayers = {
            "carto": L.tileLayer('https://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png'),
            "osm": L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png')
        };

        var currentLayer = baseLayers.carto.addTo(map);

        function switchBaseMap() {
            var selectedMap = document.querySelector('input[name="baseMap"]:checked').value;
            map.removeLayer(currentLayer);
            currentLayer = baseLayers[selectedMap].addTo(map);
        }

        function selectDisplayedData() {
            var selectedData = document.getElementById("displayedData").value;
            if (selectedData === 'gadm') {
                window.location.href = '{% url "gadm_map" %}';
            } else if (selectedData === 'macro') {
                window.location.href = '{% url "spatial_map" %}'
            } else {
                window.location.href = '{% url "spatial_map" %}?data=' + selectedData;
            }
        }

        {% for shape in shapes %}
            var geometry = '{{ shape.geom.geojson | safe }}'
            var geoJSONLayer = L.geoJSON(JSON.parse(geometry)).addTo(map);
        {% endfor %}

        // Initial filtering on page load
        filterByYearRange()

    </script>
    {% endblock %}
</body>