{% extends "core/seshat-base.html" %}
{% load static %}
{% load humanize %}
{% load mathfilters %}
{% load custom_filters %}

{% block content %}

<style>
    .accordion-body {
        padding:0px !important;
    }
    .accordion-button.p-0::after {
        flex-shrink: 0;
        width: 1.25rem;
        height: 1.25rem;
        margin-right: auto;
        margin-left: auto;
        padding-right: 1px;
        padding-left: 1px;
        content: "";
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
        background-repeat: no-repeat;
        background-size: 1.25rem;
        transition: transform .1s ease-in-out;
    }
</style>
<div class="container">
    {% if object_list %}
    <div class="row d-flex mt-3">
        <div class="col-md-9">
            <!-- <h5 class="lead-2">List of all the data for: {{object_list.0.section}}</h5> -->
            <div class="col-md-12 justify-content-end my-3">
                <h6><span class="text-secondary text-end">Section</span>: {{var_section}}
                    {% if var_subsection %}
                    / {{var_subsection}}
                    {% endif %}
                 </h6>      
            <!-- <h5 class="lead-2">List of all the data for: {{object_list.0.section}}</h5> -->
          </div>
          <div>
            <h5 class="mb-3"><span class="text-secondary text-end">Variable:</span> <span>{{myvar}}</span></h5>
          </div>
            <div>
                <h6 class="fw-bold"><span class="fw-normal"><i class="fa-solid fa-caret-right"></i> {{var_main_desc}} &nbsp;</span>
                </h6>
            </div>
        </div>
          <div class="col-md-3">
            {% if inner_vars %}
                 {% block download_button %}
                 {% endblock download_button %}
                    {% block metadownload_button %}
                    {% endblock metadownload_button %}
            {% endif %}
          </div>
      </div>
    {% block main_description %}
    {% endblock main_description %}
    {% block secondary_description %}
    {% endblock secondary_description %}

    <div class="table-container">
        <table id="table_id" class="table align-middle table-hover table-borderless" style="padding: 0.25 rem !important;">
            <legend class="sticky-top py-0 px-3 m-0" style="background-color:#FFCCCC; height:40px;  top: 55px; z-index:900;">{{myvar}}</legend>
            <thead  class="sticky-top" style="background-color:#FFCCCC; height:40px;  top: 95px; z-index:900;">              <tr>
                <th scope="col" class="text-secondary"  style="text-align: left;">#</th>
                <th scope="col" style="text-align: left" class="fw-bold"> 
                    <a href="{% url list_all_url %}?orderby=polity_id"><i class="fa-solid fa-arrow-up-short-wide"></i>&nbsp;</a>Polity
                </th>
                <!-- headings for extra vars -->
                {% block myheadings_list %}
                {% endblock myheadings_list %}
                <th scope="col" style="text-align: left" >Tags</th>
                <th scope="col" style="text-align: left" class="fw-bold">
                    <a href="{% url list_all_url %}?orderby=year_from"><i class="fa-solid fa-arrow-up-short-wide"></i></a>
                    Year(s)
                </th>
                <th scope="col" style="text-align: center">Edit</th>
                <th scope="col" style="text-align: center">Desc</th>

              </tr>
            </thead>
            <tbody>
                {% for obj in object_list %}
                <tr class="p-0 m-0">
                <div class="accordion accordion-flush p-0 m-0" id="accordionExample_{{ forloop.counter }}">
                    <span class="accordion-item  p-0 m-0" style="background-color:#fffdf2;">
                      <span class="accordion-header  p-0 m-0" id="headingOne_{{ forloop.counter }}">
                            <td  colspan="1">
                                {{ forloop.counter }}
                                {% if obj.comment and obj.comment.id > 1 %}
                                *
                                {% endif %}

                            </td>

                            {% if obj.polity %}
                            <td  colspan="1" style="text-align: left;">
                                {% if obj.polity.long_name %}
                                <span class="fw-bold">
                                    <a href="{% url 'polity-detail-main' obj.polity.id %}">{{ obj.polity.long_name }}</a>
                                </span>
                                {% else %}
                                <span class="fw-bold">
                                    <a href="{% url 'polity-detail-main' obj.polity.id %}">{{ obj.polity.name }}</a>
                                </span>
                                {% endif %}
        
                            </td>
                            {% else %}
                            <td  colspan="1" style="text-align: left;">-</td>
                            {% endif%}
        
                            <!-- extra vars come here -->
                            {% block extra_vars_list %}
                            {% endblock extra_vars_list %}
                                {% include "core/partials/_all_tags_inline_obj.html" %}
        
                            <!-- Years -->
                            {% include "core/partials/_years_block_new_obj.html" %}
                            <!-- Tag tag (Disputed/Suspected etc.) -->
        
                            {% block update_button %}
                            {% endblock update_button %}
                            <td  colspan="1" class="text-secondary"><span class="accordion-button collapsed p-0 my-0" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne_{{ forloop.counter }}" aria-expanded="false" aria-controls="collapseOne_{{ forloop.counter }}">
                                </span>
                            </td>

                        </span>
                        </span>
                    </div>
                </tr>
                <tr class="p-0 m-0">
                    <td colspan="7" class="p-0 my-0" style="width:100%">
                        <div id="collapseOne_{{ forloop.counter }}" class="accordion-collapse collapse border border-2 px-2 py-2 m-0" aria-labelledby="headingOne_{{ forloop.counter }}">
                            <span class="accordion-body m-0">
                                {% autoescape off %}
                                {% if obj.description %}
                                {{ obj.description|make_references_look_nicer }}
                                <br>
                                    {% else %}
                                    -
                                    {% endif%}
                                    {% if obj.comment and obj.comment.id > 1 %}
                                    {{obj.comment }}
                                    <a class="p-0 m-0" 
                                    style="display:block; overflow: hidden;" 
                                    href="{% url 'seshatcomment-update' obj.comment.id %}">
                                        <span class="badge bg-teal text-dark ">
                                            <i class="fa-solid fa-pen-to-square"></i>
                                            EDIT
                                        </span>
                                    </a>
                                    {% endif %}
                                    {% endautoescape %}
                            </span>
                        </div>
                    </td>    
                </tr>
                

                {% endfor %}
            </tbody>
          </table>
        </div>


    {% else %}
    <div class="row my-4">
        <div class="col-md-8 ">
            <h4> <i class="fa-solid fa-triangle-exclamation text-danger"></i> There are no Facts for this variable ({{myvar}}) in the Database.</h4>
        </div>
        <div class="col-md-4">
            <a href="{% url create_url %}" class="btn btn-outline-success mx-3 float-end"><i class="fas fa-plus"></i> &nbsp; Add a Fact</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 my-2 pb-4">
            <h6><span class="display-6">{{ myvar }}</span></h6>
            <h6 class="text-secondary">{{var_main_desc}}</h6>
        </div>
    </div>

    {% endif %}
    </div>
    <script>
        var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
        var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
          return new bootstrap.Popover(popoverTriggerEl)
        })
    </script>
  {% endblock %}

