{% extends "core/seshat-base.html" %}
{% load leaflet_tags %}

<head>
    {% leaflet_js %}
    {% leaflet_css %}
</head>

<body>
    {% block content %}
    <div id="map" style="height: 75vh;"></div>
    {% leaflet_map "map" %}
    <script>
        var map = L.map('map', {
            zoomControl: false,
            maxZoom: 2,
            minZoom: 2
        }).setView([0, 0], 2);
        L.tileLayer('https://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png').addTo(map);
    </script>
    {% endblock %}
</body>