{% extends "core/seshat-base.html" %}
{% load leaflet_tags %}

<head>
    {% leaflet_js %}
    {% leaflet_css %}
</head>

<body>
    {% block content %}
    <div id="map" style="height: 500px;"></div>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script>
        var map = L.map('map', {
            maxZoom: 2,  // Set the maximum zoom level
            minZoom: 2,  // Set the minimum zoom level
        }).setView([0, 0], 2);

        L.tileLayer('https://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png').addTo(map);

        {% for shape in shapes %}
        L.geoJSON({{ shape.geom.geojson | safe }}).addTo(map);
        {% endfor %}
    </script>
    {% endblock %}
</body>