{% extends "core/detail_base_general_preceding.html" %}
{% load static %}
{% load humanize %}

{% block addmore %}
<a href="{% url 'polity_preceding_entity-create' %}" class="btn btn-outline-success mx-3 my-4 float-end"> &#128934; &nbsp; Add Another Fact &nbsp; <i class="fa fa-plus"></i>
</a>
<a href="{% url 'polity_preceding_entitys_all' %}" class="btn btn-outline-primary ms-auto my-4 float-end">&#8983; See All Such Facts
</a>
{% endblock addmore %}

{% block myheadings %}
<th class = "fw-bold" style="text-align: left;" scope="col">Entity A (Prior)
</th>
<th class = "fw-bold" style="text-align: left;" scope="col">Relationship
</th>
<th class = "fw-bold" style="text-align: left;" scope="col">Entity B (Subsequent)
</th>
{% endblock myheadings %}

{% block extracols %}

    <td  style="text-align: left;">
        {% if object.other_polity %}
        <a class="fw-bold" href="{% url 'polity-detail-main' object.other_polity.id %}">{{ object.other_polity }}</a>
        {% else %}
        <span>No Polity</span>
        {% endif %}    </td>
    <td  style="text-align: left;">
        <span>{{ object.relationship_to_preceding_entity }}</span>
    </td>
    <td  style="text-align: left;">
        {% if object.polity %}
        <a class="fw-bold"  href="{% url 'polity-detail-main' object.polity.id %}">{{ object.polity }}</a>
        {% else %}
        <span>No Polity</span>
        {% endif %}
        </td>
{% endblock extracols %}
        