<td>

    <a type="button" class="fs-6" data-bs-toggle="tooltip" data-bs-html="true"  title="References: {{ obj.display_citations }}">
        {% if obj.tag == "DSP" %}
        <span class="badge" style="font-family: 'Roboto Mono', monospace; font-optical-sizing: auto; font-weight: 700; background:#1c0b0b; color:#f39b9b;"> {{ obj.get_tag_display }}</span>
        {% elif  obj.tag == "SSP" %}
        <span class="badge" style="font-family: 'Roboto Mono', monospace; font-optical-sizing: auto; font-weight: 700; background:#edd0e7; color:#d4507c;"> {{ obj.get_tag_display }}</span>
        {% elif  obj.tag == "UNK" %}
        <span class="badge" style="font-family: 'Roboto Mono', monospace; font-optical-sizing: auto; font-weight: 700; background:#f9b9b9; color:#510c0c;"> {{ obj.get_tag_display }}</span>
        {% elif  obj.tag == "IFR" %}
        <span class="badge" style="font-family: 'Roboto Mono', monospace; font-optical-sizing: auto; font-weight: 700; background:#7ac5ee; color:#4048a7;"> {{ obj.get_tag_display }}</span>
        {% else  %}
            <span class="badge" style=" font-family: 'Roboto Mono', monospace; font-optical-sizing: auto; font-weight: 700; background:#c7e79e; color:#2f872f;">{{ obj.get_tag_display }}</span>
        {% endif %}
        </a>
    
        <!-- Disputred tag (Disputed/or Not etc.) -->
    {% if obj.is_disputed %}
    
    <a type="button" class="fs-6" data-bs-toggle="tooltip" data-bs-html="true"  title="Scholarly Disagreement (Disputed)">
        <span class="badge"  style="font-family: 'Roboto Mono', monospace; font-optical-sizing: auto; font-weight: 700; background:#1c0b0b; color:#f39b9b;"> Disputed</span>
    </a>
    
    {% endif %}
    
    <!-- Disputred tag (Disputed/or Not etc.) -->
    {% if obj.is_uncertain %}
    <a type="button" class="fs-6 badge p-0 m-0" style="font-family: 'Roboto Mono', monospace; font-optical-sizing: auto; font-weight: 700; background:#f7d6b4; " data-bs-toggle="tooltip" data-bs-html="true"  title="Uncertainty has been coded.">
        <span class="badge" style="color:#864e13;"> <i class="fa-regular fa-circle-question fa-sm"></i> Uncertain</span>
    </a>
    {% endif %}
    
    <!-- Expert Checked Tag -->
    {% if obj.expert_reviewed %}
        <a type="button" class="fs-6" data-bs-toggle="tooltip" data-bs-html="true"  title="By: {{ obj.curators_list }}">
            <span class="badge" style="font-family: 'Roboto Mono', monospace; font-optical-sizing: auto; font-weight: 700; background:#c3ddf9; color:#2978ce;"><i class="fas fa-check-circle p-0 m-0" style="color:#2978ce"></i> Expert</span>
        </a>
    {% endif %}
        
    </td>