{% if value.drb_reviewed %}
    <a type="button" class="fs-6" data-bs-toggle="tooltip" data-bs-html="true"  title="Approved By: {{ value.curators_list }}">
        <span class="badge bg-primary text-light" style="font-family: 'Roboto Mono', monospace; font-optical-sizing: auto; font-weight: 700; background:#c3ddf9; color:#2978ce;"><i class="fas fa-check-circle p-0 m-0"></i> DRB</span>
    </a>
{% else %}
    <a type="button" class="fs-6" data-bs-toggle="tooltip" data-bs-html="true"  title="DRB status: Pending.">
        <span class="badge bg-warning text-dark" style="font-family: 'Roboto Mono', monospace; font-optical-sizing: auto; font-weight: 700; background:#c3ddf9; color:#2978ce;"><i class="fa-solid fa-circle-pause text-dark p-0 m-0"></i> DRB</span>
    </a>
{% endif %}