{% load humanize %}
{% load mathfilters %}
{% load custom_filters %}

{% if values %}
<div id="{{key}}">
<div class="table-responsive" style="overflow-x:hidden;">
    <div>
        <span class="left-span px-1" style="color:rgba(0, 139, 139, 0.837);">
                    
            <h6 class="fw-bold" style="color:rgba(0, 139, 139, 0.837); text-align: left; line-height: 1.75;">
                 <span class="badge bg-secondary" style="vertical-align: top;">&nbsp;</span> absent&nbsp;&nbsp; 
                <span class="badge bg-success" style="vertical-align: top;">&nbsp;</span> present&nbsp;&nbsp; <span class="badge bg-dark" style="vertical-align: top;">&nbsp;</span> inferred absent&nbsp;&nbsp; 
                <span class="badge bg-primary" style="vertical-align: top;">&nbsp;</span> inferred present&nbsp;&nbsp; <span class="badge bg-warning" style="vertical-align: top;">&nbsp;</span> suspected unknown&nbsp;&nbsp; <span class="fw-normal text-dark"></span>
                <span class="badge bg-danger" style="vertical-align: top;">&nbsp;</span> unknown <span class="fw-normal text-dark"> are coded for:</span> <br>  
                

              </h6>
              <div class="row">
                <div class="col-md-3">
                    <span class="badge bg-light text-dark border border-dark" style="padding-bottom:3px;" >OT</span> Overturn
                </div>
                <div class="col-md-3">                            
                    <span class="badge bg-light text-dark border border-dark" style="padding-bottom:3px;"  >PA</span> Predecessor Assassination</div>

                <div class="col-md-3">                             
                    <span class="badge bg-light text-dark border border-dark" style="padding-bottom:3px;"  >IE</span> Intra-Elite</div>
                <div class="col-md-3">
                    <span class="badge bg-light text-dark border border-dark" style="padding-bottom:3px;"  >MR</span> Military Revolt
                </div>
                <div class="col-md-3">
                    <span class="badge bg-light text-dark border border-dark" style="padding-bottom:3px;"  >PU</span> Popular Uprising
                </div>
                <div class="col-md-3">
                    <span class="badge bg-light text-dark border border-dark" style="padding-bottom:3px;"  >SR</span> Separatist Rebellion
                </div>
                <div class="col-md-3">                             
                    <span class="badge bg-light text-dark border border-dark" style="padding-bottom:3px;"  >EV</span> External Invasion
                </div>
                <div class="col-md-3">
                    <span class="badge bg-light text-dark border border-dark" style="padding-bottom:3px;"  >EF</span> External Inteference
                </div>
            </div>
        </span> 

    <table id="table_id" class="table align-middle table-striped table-bordered mb-4" style="padding: 0.25 rem !important;">
        <tbody>
            <tr>
                <td class="text-secondary sticky-start p-0 m-0" scope="row"  style="text-align: left">
                    
                    <table class="table table-bordered">
                        <tbody>
                            {% for value in values %}

                            <tr>

                                                               
                                 <td style="position: relative;">
                                  
                                    <span class="card-text-spaced">
                                        <span class="left-span">    
                                            <a href="#power_transition_{{value.id}}"><i class="fa-solid fa-circle-arrow-down fa-sm"></i></a>



                                    <span class="badge border border-dark text-dark px-2 py-1 fw-light fs-6" style="background: linear-gradient(to right, #f8bdb288, #faf0b68e)">
                                    
                                        {% if value.year_from == None %}
                                        <a type="button" class="btn p-0 m-0" data-bs-toggle="tooltip" data-bs-html="true"  title='Year Range of Polity is assumed.'>
                                            <span><i class="fa-solid fa-clock fs-6 text-secondary"></i> </span>
                                        </a>
                                    
                                    
                                            
                                        {% elif  value.year_from == value.year_to %}
                                            {% if  value.year_from < 0 %}
                                            {{ value.year_from|abs }} 
                                            
                                            <span class="text-secondary fw-light fs-6">BCE</span> 
                                        
                                            {% else %}
                                            {{ value.year_from }} 
                                        
                                            <span class="text-secondary fw-light fs-6">CE</span>
                                    
                                            {% endif %}
                                        {% elif value.year_to == None %}
                                            {% if  value.year_from < 0 %}
                                            {{ value.year_from|abs }} 
                                            
                                                <span class="text-secondary fw-light fs-6">BCE</span>
                                        
                                            {% else %}
                                            {{ value.year_from }} 
                                            
                                                <span class="text-secondary fw-light fs-6">CE</span>
                                        
                                            {% endif %}
                                        {% elif value.year_to == None and  value.year_from == None %}
                                            <i class="fa-solid fa-minus"></i> 
                                        {% else %}
                                            {% if  value.year_from < 0 and value.year_to < 0 %}
                                            {{ value.year_from|abs }} 
                                            
                                                <span class="text-secondary fw-light fs-6">BCE</span> 
                                        
                                            <i class="fas fa-long-arrow-alt-right"></i> {{ value.year_to|abs }}         
                                                <span class="text-secondary fw-light fs-6">BCE</span> 
                                        
                                            {% elif  value.year_from < 0 and value.year_to >= 0 %}
                                            {{ value.year_from|abs }}         
                                                <span class="text-secondary fw-light fs-6">BCE</span> 
                                         <i class="fas fa-long-arrow-alt-right"></i> {{ value.year_to }}         
                                                <span class="text-secondary fw-light fs-6">CE</span> 
                                        
                                            {% else %}
                                            {{ value.year_from }} 
                                                <span class="text-secondary fw-light fs-6">CE</span>
                                          <i class="fas fa-long-arrow-alt-right"></i> {{ value.year_to }}         
                                                <span class="text-secondary fw-light fs-6">CE</span> 
                                        
                                            {% endif %}
                                    
                                        {% endif %}
                                        {% if  info_list.polity_end_year < value.year_to %}
                                        <span class="text-danger"> *Bad Years...</span>
                                        {% endif %}
                                    </span>
                                   
                                    <span class = "fw-bold text-danger">
                                        {{ value.predecessor }}
                                    </span> 
                                    <span class="text-dark">
                                        <i class="fa-solid fa-arrow-right-long fa-sm"></i> 
                                    </span> 
                                    <span class = "fw-bold text-teal">
                                        {{ value.successor }}
                                    </span>

</span>


<span class="right-span fw-normal">   
{% if  value.overturn == "P" %}
<span class="badge border border-dark bg-success">OV</span> 
{% elif  value.overturn == "IP" %}
<span class="badge border border-dark bg-primary">OV</span> 
{% elif  value.overturn == "A" %}
<span class="badge border border-dark bg-secondary">OV</span> 
{% elif  value.overturn == "IA" %}
<span class="badge border border-dark bg-dark text-light">OV</span> 
{% elif  value.overturn == "U" %}
<span class="badge border border-dark bg-danger">OV</span> 
{% elif  value.overturn == "SU" %}
<span class="badge border border-dark bg-warning text-dark">OV</span>
{% endif %}

{% if  value.predecessor_assassination == "P" %}
<span class="badge border border-dark bg-success">PA</span> 
{% elif  value.predecessor_assassination == "IP" %}
<span class="badge border border-dark bg-primary">PA</span> 
{% elif  value.predecessor_assassination == "A" %}
<span class="badge border border-dark bg-secondary">PA</span> 
{% elif  value.predecessor_assassination == "IA" %}
<span class="badge border border-dark bg-dark text-light">PA</span> 
{% elif  value.predecessor_assassination == "U" %}
<span class="badge border border-dark bg-danger">PA</span> 
{% elif  value.predecessor_assassination == "SU" %}
<span class="badge border border-dark bg-warning text-dark">PA</span>
{% endif %}

{% if  value.intra_elite == "P" %}
<span class="badge border border-dark bg-success">IE</span> 
{% elif  value.intra_elite == "IP" %}
<span class="badge border border-dark bg-primary">IE</span> 
{% elif  value.intra_elite == "A" %}
<span class="badge border border-dark bg-secondary">IE</span> 
{% elif  value.intra_elite == "IA" %}
<span class="badge border border-dark bg-dark text-light">IE</span> 
{% elif  value.intra_elite == "U" %}
<span class="badge border border-dark bg-danger">IE</span> 
{% elif  value.intra_elite == "SU" %}
<span class="badge border border-dark bg-warning text-dark">IE</span>
{% endif %}

{% if  value.military_revolt == "P" %}
<span class="badge border border-dark bg-success">MR</span> 
{% elif  value.military_revolt == "IP" %}
<span class="badge border border-dark bg-primary">MR</span> 
{% elif  value.military_revolt == "A" %}
<span class="badge border border-dark bg-secondary">MR</span> 
{% elif  value.military_revolt == "IA" %}
<span class="badge border border-dark bg-dark text-light">MR</span> 
{% elif  value.military_revolt == "U" %}
<span class="badge border border-dark bg-danger">MR</span> 
{% elif  value.military_revolt == "SU" %}
<span class="badge border border-dark bg-warning text-dark">MR</span>
{% endif %}

{% if  value.popular_uprising == "P" %}
<span class="badge border border-dark bg-success">PU</span> 
{% elif  value.popular_uprising == "IP" %}
<span class="badge border border-dark bg-primary">PU</span> 
{% elif  value.popular_uprising == "A" %}
<span class="badge border border-dark bg-secondary">PU</span> 
{% elif  value.popular_uprising == "IA" %}
<span class="badge border border-dark bg-dark text-light">PU</span> 
{% elif  value.popular_uprising == "U" %}
<span class="badge border border-dark bg-danger">PU</span> 
{% elif  value.popular_uprising == "SU" %}
<span class="badge border border-dark bg-warning text-dark">PU</span>
{% endif %}

{% if  value.separatist_rebellion == "P" %}
<span class="badge border border-dark bg-success">SR</span> 
{% elif  value.separatist_rebellion == "IP" %}
<span class="badge border border-dark bg-primary">SR</span> 
{% elif  value.separatist_rebellion == "A" %}
<span class="badge border border-dark bg-secondary">SR</span> 
{% elif  value.separatist_rebellion == "IA" %}
<span class="badge border border-dark bg-dark text-light">SR</span> 
{% elif  value.separatist_rebellion == "U" %}
<span class="badge border border-dark bg-danger">SR</span> 
{% elif  value.separatist_rebellion == "SU" %}
<span class="badge border border-dark bg-warning text-dark">SR</span>
{% endif %}

{% if  value.external_invasion == "P" %}
<span class="badge border border-dark bg-success">EV</span> 
{% elif  value.external_invasion == "IP" %}
<span class="badge border border-dark bg-primary">EV</span> 
{% elif  value.external_invasion == "A" %}
<span class="badge border border-dark bg-secondary">EV</span> 
{% elif  value.external_invasion == "IA" %}
<span class="badge border border-dark bg-dark text-light">EV</span> 
{% elif  value.external_invasion == "U" %}
<span class="badge border border-dark bg-danger">EV</span> 
{% elif  value.external_invasion == "SU" %}
<span class="badge border border-dark bg-warning text-dark">EV</span>
{% endif %}

{% if  value.external_interference == "P" %}
<span class="badge border border-dark bg-success">EF</span> 
{% elif  value.external_interference == "IP" %}
<span class="badge border border-dark bg-primary">EF</span> 
{% elif  value.external_interference == "A" %}
<span class="badge border border-dark bg-secondary">EF</span> 
{% elif  value.external_interference == "IA" %}
<span class="badge border border-dark bg-dark text-light">EF</span> 
{% elif  value.external_interference == "U" %}
<span class="badge border border-dark bg-danger">EF</span> 
{% elif  value.external_interference == "SU" %}
<span class="badge border border-dark bg-warning text-dark">EF</span>
{% endif %}


</span>
</span>


                                </td>
                            </tr>
                            {% endfor %}

                        </tbody>
                    </table>
                    

                </td>

            </tr>

        </tbody>
      </table>
    </div>
</div>

{% else %}

<div class="row">
    <div class="col-md-12 mt-4">
        <h3> <i class="fa-solid fa-triangle-exclamation"></i> There are no Facts for this variable in the Database.</h3>
    </div>
</div>


</div>
{% endif %}