{% extends "core/seshat-base.html" %}
{% load crispy_forms_tags %}
{% load humanize %}
{% load custom_filters %}



{% block content %}
<div class="container">
    <div class="main-body">
    <!-- source: https://www.bootdey.com/snippets/view/profile-with-data-and-skills#css -->
          <!-- Breadcrumb -->
          <nav aria-label="breadcrumb" class="main-breadcrumb mt-2">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="{% url 'seshat-index' %}">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">User Profile</li>
            </ol>
          </nav>
          <!-- /Breadcrumb -->
    
          <div class="row gutters-sm">
            <div class="col-md-3">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex flex-column align-items-left">
                    <div class="mt-0">
                      <h5> {{user.first_name}} {{user.last_name}}</h5>
                      <span class="text-secondary"><i class="fa-solid fa-circle-user"></i> {{user.profile.get_role_display}}</span><br>
                      <span class="text-secondary"><i class="fa-solid fa-envelope pe-2"></i>{{user.email}}</span><br>
                      <span class="text-muted font-size-sm"><i class="fa-solid fa-location-dot pe-2"></i>{{user.profile.location}}</span>


                      <!-- <button class="btn btn-primary">Follow</button>
                      <button class="btn btn-outline-primary">Message</button> -->
                    </div>
                  </div>
                </div>
              </div>
            </div>


              <div class="card col-md-9">
                <div class="card-body">
                  <div class="d-flex flex-column align-items-left text-left">
                    <div>
                    <h6>
                      <span class="text-muted font-size-sm">{{user.profile.bio}}</span>
                      <p class="text-end"><a href="{% url 'profile-update' user.pk %}" class="btn btn-warning btn-sm"> Update Details</a></p>
                    </h6>
                    </div>
                  </div>
                </div>
              </div>


              </div>
              <div class="col-md-12">



                <div class="row gutters-sm my-3">
                  <h4>Notifications:</h4>
                  <div class="table-responsive">
                      <table id="table_id" class="table align-middle table-bordered" style="padding: 0.25 rem !important;">
                          <thead>
                              <tr class="bg-teal">
                                  <th scope="col" class="text-dark">Comment</th>
                                  <th scope="col" class="text-dark">Link</th>
                                  <th scope="col" class="text-dark">Last Modified</th>
                                  <th scope="col" class="text-dark" style="text-align: center" >Status</th>
                              </tr>
                          </thead>
                          <tbody>

                              {% for a_private_comment_part in facts_verified_by_user %}
                              <tr>
                                  <td  class="col-md-6" scope="col" class="text-danger col-md-2">
                                      {% autoescape off %}
                                      <span class="fw-light">
                                        <span class="badge text-dark fs-6 border border-dark" style="background: {{a_private_comment_part.private_comment_owner.id|give_me_a_color}};">{{a_private_comment_part.private_comment_owner}}</span>
                                        
                                        {{a_private_comment_part.private_comment_part_text}}</span>
                                      {% endautoescape %}

                                  </td>                                    
                                  <td  class="col-md-2">
                                    <a class="p-0 m-0" style="display:block;" href="{% url 'seshatprivatecomment-update' a_private_comment_part.private_comment_id %}"><span class="badge bg-teal text-dark fs-6"><span style="vertical-align:bottom;"> See Full Discussion</span>
                                    </span></a>
                                  </td>

                                  {% autoescape off %}
                                  <td  class="col-md-2">{{a_private_comment_part.last_modified_date|naturaltime}}</td>
                                  {% endautoescape %}

                                  <td class="col-md-2" class="text-success fw-bold col-md-1" style="text-align: center" > <i class="fa-solid fa-square-check fa-2x"></i></td>
                              </tr>
                              {% endfor %}

                          </tbody>
                      </table>
                  </div>
              </div>
            </div>
          </div>

        </div>
    </div>
{% endblock content %}