{% extends "core/form_base_general.html" %}
{% load crispy_forms_tags %}
{% load humanize %}

{% block extra_vars %}
    
<div class="col-md-4 mb-2">
    {{ form.polity_cap|as_crispy_field }}
    <span class="text-secondary">
        Do not see your desired capital? Add it <a class="fw-bold text-decoration-underline" href="{% url 'capital-create' %}" >here</a> first.
    </span>
</div>

<div class="col-md-4 mb-2">
    {{ form.capital|as_crispy_field }}
    <span class="text-secondary">
        This is the old coded value and should only be used as a hint (if it exists).
    </span>
</div>

    
{% endblock extra_vars %}

{% block delete_button %}
    <a href="{% url 'polity_capital-delete' object.id %}" type="cancel" class="btn btn-outline-danger my-auto btn-block btn-lg">Delete </a>
{% endblock delete_button %}
        