{% extends "core/seshat-base.html" %}
{% load crispy_forms_tags %}
{% load mathfilters %}

{% load humanize %}


{% block content %}

{% if object.text == "No Descriptions provided." %}
<div class="container pt-1">
    <h4>No discriptions for this fact.</h4>
    <h6 class="pt-3">Add one please:</h6>
    <a href="#"><button class="btn btn-danger btn-sm">Create</button></a>
</div>
{% else %}
<div class="container table-responsive pt-2">

    <table class="table align-middle table-striped">
        <thead>        
          <tr>
            <th style="text-align: left;" scope="col">Variable</th>
            <th style="text-align: left;" scope="col">Coded Value</th>
            <th style="text-align: center;" scope="col">Polity</th>
            <th style="text-align: center;" scope="col">Year Range</th>
            <th scope="col" style="text-align: center">Certainty</th>
    
          </tr>
        </thead>
        <tbody>
            {% for my_inst in my_app_models %}

              <tr>
                  <td style="text-align: left;">{{ my_inst.my_var_name }}</td>
                  <td style="text-align: left;">{{ my_inst.my_value }}</td>

                  <td style="text-align: center;">
                    <span><a href="{% url 'polity-detail-main' pk=my_inst.my_polity_id %}">{{my_inst.my_polity}}</a></span>
                    
                    </td>
                    {% if my_inst.year_from == None %}
                        <td style="text-align: center;"> Full Year Range of Polity
                        </td>
                    {% elif my_inst.year_from == my_inst.year_to %}
                        {% if my_inst.year_from < 0 %}
                        <td style="text-align: center;">{{ my_inst.year_from|abs|intcomma }} <span class="text-secondary">BCE</span> </td>
                        {% else %}
                        <td style="text-align: center;">{{ my_inst.year_from }} <span class="text-secondary">CE</span></td>
                        {% endif %}
                    {% elif my_inst.year_to == None %}
                        {% if my_inst.year_from < 0 %}
                        <td style="text-align: center;">{{ my_inst.year_from|abs }} <span class="text-secondary">BCE</span></td>
                        {% else %}
                        <td style="text-align: center;">{{ my_inst.year_from }} <span class="text-secondary">CE</span></td>
                        {% endif %}
                    {% elif my_inst.year_to == None and my_inst.year_from == None %}
                        <td style="text-align: center;"> <i class="fa-solid fa-minus"></i> </td>
                    {% else %}
                        {% if my_inst.year_from < 0 and my_inst.year_to < 0 %}
                        <td style="text-align: center;">{{ my_inst.year_from|abs }} <span class="text-secondary">BCE</span> <i class="fas fa-long-arrow-alt-right"></i> {{ my_inst.year_to|abs }} <span class="text-secondary">BCE</span></td>
                        {% elif my_inst.year_from < 0 and my_inst.year_to >= 0 %}
                        <td style="text-align: center;">{{ my_inst.year_from|abs }} <span class="text-secondary">BCE</span> <i class="fas fa-long-arrow-alt-right"></i> {{ my_inst.year_to }} <span class="text-secondary">CE</span></td>
                        {% else %}
                        <td style="text-align: center;">{{ my_inst.year_from }} <span class="text-secondary">CE</span> <i class="fas fa-long-arrow-alt-right"></i> {{ my_inst.year_to }} <span class="text-secondary">CE</span></td>
                        {% endif %}
                    {% endif %}
                                      
                  <!-- Tag tag (Disputed/Suspected etc.) -->
                  {% if my_inst.tag == "DSP" %}
                      <td style="text-align: center;"><span class="badge rounded-pill bg-danger">{{my_inst.my_tag }}</span></td>
                  {% elif my_inst.tag == "SSP" %}
                      <td style="text-align: center;"> <span class="badge rounded-pill bg-warning text-dark">{{my_inst.my_tag }}</span></td>
                  {% elif my_inst.tag == "UNK" %}
                      <td style="text-align: center;"><span class="badge rounded-pill bg-secondary">{{my_inst.my_tag }}</span></td>
                  {% elif my_inst.tag == "IFR" %}
                      <td style="text-align: center;"><span class="badge rounded-pill bg-primary">{{my_inst.my_tag }}</span></td>
                  {% else  %}
                      <td style="text-align: center;"><span class="badge rounded-pill bg-success">{{my_inst.my_tag }}</span></td>
                  {% endif %}

    
            </tr>
            {% endfor %}

        </tbody>
      </table>
      <div class="pt-3 fs-6 fw-bold">
        Description:
      </div>
    <div class="border p-2 border-secondary rounded border-2 fs-6">
       

        {% autoescape off %}

        {% for subcom in object.inner_comments_related.all %}

            <span>
                <span class="jidtext_{{ forloop.counter }}">
                        {{ subcom.comment_part_text }}
                </span>
                <span  class="jidtextref_{{ forloop.counter }} fw-bold">
                    {% if subcom.display_citations_plus %}
                        {{ subcom.display_citations_plus }}
                    {% else %}
                    <span class="text-danger">[No Refs]</span>
                    {% endif %}
                </span>
                <sup class="border-bottom pt-1 pb-0 px-1 m-1 fw-bold border-dark border-3 rounded" style="background:rgb(233, 233, 233)">

                {% if subcom.citations_count >= 10 %}
                    <a class="underline-trigger" href="{% url 'seshatcommentpart-update' subcom.pk %}" data-counter="{{ forloop.counter }}"><i class="fa-regular fa-pen-to-square"></i></a>
                {% else %}
                    <a class="underline-trigger" href="{% url 'seshatcommentpart-update2' subcom.pk %}" data-counter="{{ forloop.counter }}"><i class="fa-regular fa-pen-to-square"></i></a>

                {% endif %}


                    <a class="underline-trigger" href="{% url 'seshatcommentpart-delete' subcom.pk %}" data-counter="{{ forloop.counter }}">
                        <i class="fa-solid fa-trash-can"></i>
                        </a>
                </sup>
            </span>
            <a class="newinsert-trigger" href="{% url 'seshatcommentpart-create2' com_id=subcom.comment_id subcom_order=subcom.comment_order|add:1 %}" data-counter="{{ forloop.counter }}"><i class="fa-solid fa-feather"></i>
                <span class="hidden_jid_new_{{ forloop.counter }}" style="display:none">
                    <sup class="badge bg-warning fw-bold text-dark" style="padding-bottom:3px; padding-top:3px;  margin-bottom:2px;">Insert Text</sup>
                </span>
            </a>

        {% endfor %}

        {% endautoescape %}

    </div>

                <div class="col-md-12 pb-2">




                    <h6 class="lead-2 text-secondary pt-2">- Note that each description has several <u>subdescriptions</u><sup>*</sup>.
                        <br>
                        * A subdescription is a combination of some text and its corresponding citation(s).
                    </h6>
                </div>
</div>

{% endif %}
<script>
    var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
    var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
      return new bootstrap.Popover(popoverTriggerEl)
    })

    function DisplayProgressMessage(ctl, msg) {
        $(ctl).prop("class", "btn btn-success px-4 disabled");
        $(ctl).text(msg);
        return true;
    }


    document.addEventListener('DOMContentLoaded', function() {
        const underlineTriggers = document.querySelectorAll('.underline-trigger');
        const newinsertTriggers = document.querySelectorAll('.newinsert-trigger');

        underlineTriggers.forEach(trigger => {
            trigger.addEventListener('mouseover', function() {
                const counter = this.getAttribute('data-counter');
                const jidtext = document.querySelector(`.jidtext_${counter}`);
                const jidtextref = document.querySelector(`.jidtextref_${counter}`);
                if (jidtext) {
                    jidtext.style.textDecoration = 'underline';
                }
                if (jidtextref) {
                    jidtextref.style.textDecoration = 'underline';
                }
            });
    
            trigger.addEventListener('mouseout', function() {
                const counter = this.getAttribute('data-counter');
                const jidtext = document.querySelector(`.jidtext_${counter}`);
                const jidtextref = document.querySelector(`.jidtextref_${counter}`);

                if (jidtext) {
                    jidtext.style.textDecoration = 'none';
                }
                if (jidtextref) {
                    jidtextref.style.textDecoration = 'none';
                }
            });
        });

        newinsertTriggers.forEach(trigger => {
            trigger.addEventListener('mouseover', function() {
                const counter = this.getAttribute('data-counter');
                const hidden_jid_new = document.querySelector(`.hidden_jid_new_${counter}`);
                if (hidden_jid_new) {
                    hidden_jid_new.style.display = 'inline';

                }
            });

            trigger.addEventListener('mouseout', function() {
                const counter = this.getAttribute('data-counter');
                const hidden_jid_new = document.querySelector(`.hidden_jid_new_${counter}`);

                if (hidden_jid_new) {
                    hidden_jid_new.style.display = 'none';
                }
            });
        });
    });
</script>

  {% endblock %}


        